executor {
    name = 'slurm'
    queueSize = 5
}

process.container = "vibpsb/mini-ex:latest"
singularity {
    enabled = true
    cacheDir = "singularity_cache"
    autoMounts = true
}

params {
expressionMatrix = "$baseDir/data/MINI-EX/Ccl_count_matrix_scRNAseq_Ccl.txt"
markersOut = "$baseDir/data/MINI-EX/Ccl_FindallMarkers_scRNAseq_8cols.tsv"
cell2clusters = "$baseDir/data/MINI-EX/Ccl_cell_vs_cluster_scRNAseq_Ccl_addedcol.txt"
cluster2ident = "$baseDir/data/MINI-EX/Ccl_cluster_vs_celltype_scRNAseq.txt"
    TF_list =  "$baseDir/data/MINI-EX/Ccl_TF_list.txt"
    termsOfInterest = null
    featureFile_motifs =  "$baseDir/data/MINI-EX/Ccl_motif2gene_merged.tsv.gz"
    infoTF = "$baseDir/data/MINI-EX/Ccl_TF2fam2mot_merged.txt"
    GOfile = "$baseDir/data/MINI-EX/GOdummy.txt"
    alias = "$baseDir/data/MINI-EX/alias.txt"
	
	script_enricher = "$baseDir/bin/enricherv2.4"
	script_grnboost = "$baseDir/bin/MINIEX_grnboostMultiprocess.py"
	script_motifs = "$baseDir/bin/MINIEX_filterForMotifs.py"
	script_topDEGs = "$baseDir/bin/MINIEX_selectTopDEGs.py"
	script_expTFs = "$baseDir/bin/MINIEX_filterForTFExp.py"
	script_info = "$baseDir/bin/MINIEX_makeInfoFile.py"
	script_clustermap = "$baseDir/bin/MINIEX_clustermap.py"
	script_networkCentrality = "$baseDir/bin/MINIEX_network_analysis.py"
	script_checkReference = "$baseDir/bin/MINIEX_checkRef.py"
	script_filesEnrichment = "$baseDir/bin/MINIEX_makeFilesEnrichment.py"	
	script_makedfRef = "$baseDir/bin/MINIEX_makeRankingDf_ref.py"
	script_makedfStd = "$baseDir/bin/MINIEX_makeRankingDf_std.py"
	script_makeborda = "$baseDir/bin/MINIEX_makeBorda.py"
	script_heatmapTops = "$baseDir/bin/MINIEX_visual_heatmap_top150.py"
	
	tops = "700"
	expressionFilter = "10"
	motifFilter = "TF-F_motifs"	
	topRegs = "150"
}

process {
    withName: run_grnboost {
        memory = '5 GB'
        cpus = 5
    }
    withName: unzip_motifMappings {
        memory = '2 GB'
    }
    withName: run_enricher_motifs {
        memory = '4 GB'
    }
    withName: filter_motifs {
        memory = '5 GB'
    }
    withName: get_topDEGs {
        memory = '5 GB'
    }
    withName: run_enricher_cluster {
        memory = '4 GB'
    }
    withName: filter_expression {
        memory = '5 GB'
    }
    withName: make_info_file {
        memory = '5 GB'
    }
    withName: network_centrality {
        memory = '5 GB'
    }
    withName: getFiles_enrichment {
        memory = '5 GB'
    }
    withName: GO_enricher {
        memory = '4 GB'
    }
    withName: check_reference {
        memory = '5 GB'
    }
    withName: ranking_df_ref {
        memory = '5 GB'
    }
    withName: ranking_df_std {
        memory = '5 GB'
    }
    withName: makeBorda {
        memory = '5 GB'
    }
    withName: heatmap_tops {
        memory = '5 GB'
    }
    withName: clustermap_regs {
        memory = '5 GB'
    }
}
